/* background color for the content part of the pages */
* {
margin: 0 !important;
padding: 0 !important;
}

.C00_Icons, #footer, #content h1, #FooterRow, #OuterContainerTop, #OuterContainerBottom, OuterContainerWrapper, #dnn_SidePane2, #dnn_ctr749_ContentPane, #dnn_dnnLOGO_imgLogo, #dnn_ctr756_ModuleContent {
	display: none;
}

body, #OuterContainerWrapper, #OuterContainerMiddlePadding, #PageBgImage, table.w1024x768 {
	background: none !important;
	margin: 0 !important;
	padding: 0 !important;
	width: auto !important;
}

#PageBgImage {
	height: auto;
}

#Logo {
	background-image: url(/images/wap_bg.jpg);
	color: #fff;
	font-weight: bold;
	font-size:18px;
	padding:6px 0 0 !important;
	height: 31px;
	width: 100%;
	min-width: 320px;
}

#back_to_list {
	margin: 5px 0 5px 0 !important;
}

.container {
	width: 100% !important;
}