html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}


body, html {
	margin: 0;
	padding: 0;
}

body {
	background-image: url(/images/page.bg.texture.gif);
	margin: 0;
	padding: 0;
	color:#333333;
font-family:Arial,Helvetica,Verdana,Sans;
font-size:12px;
}

#outer {
	width: 1080px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(/images/dragonboat-background.png);
	background-repeat: no-repeat;
	margin-top: 0;
	padding-top: 10px;
}

#container {
	background-color: #fff;
	width: 882px;
	margin:0 0 0 96px;
}

#header {
	padding: 20px 20px 0 20px;
}

#footer {
	background-color: #fff;
	height: 10px;
	margin-bottom: 40px;
}

#content {
	float: left;
	width: 882px;
	padding: 0 20px 20px 20px;
	min-height: 550px;
}

#leftCol {
	width: 643px;
	float: left;
}

#rightCol {
	width: 189px;
	float: left;
	padding: 5px 20px 20px 10px;
}

#rightCol p {
	margin-bottom: 30px;
	line-height: 1.5;
}

.left {
	float: left;
}

.right {
	float: right;
}

h1 {
	text-align: center;
	color: #9E1905;
	font-family: Arial, Helvetica, Verdana, Sans;
	font-size: 24px;
	font-weight: bolder;
	margin: 10px 0 10px 0;
}

h2 {
	text-align: center;
	color: #9E1905;
	font-family: Arial, Helvetica, Verdana, Sans;
	font-size: 18px;
	font-weight: bolder;
	margin: 10px 0 10px 0;
}

#content ul {
	margin: 10px 0 0 0 !important;
	padding: 0;
	width: 100%;
}

#content ul li {
	list-style-image: none;
	border-bottom: 1px solid #ddd;
	margin: 0;
	width: 100%;
	clear: both;
	padding: 5px 0 5px 0 !important;
}

#content ul li div.result_col {
	width: 33%;
	float: left;
}

a {
color: #0099FF;
}