*{
border:0;
padding:0;
margin:0;
}
div#countdownWrapper{
height:176px;
width:213px;
background-image:url('../images/manulife-website-background.jpg');
}
div#countdown{
position:relative;
top:91px;
left:6px;
width:200px;
height:80px;
}

div.numberHolder{
width:48px;
height: 56px;
float:left;
}
div.number{
width:24px;
height:55px;
float:left;
}
div.wider{
width:72px;
}
div.n0{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/0_06.jpg');
}
div.n1{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/1_06.jpg');
}
div.n2{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/2_06.jpg');
}
div.n3{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/3_06.jpg');
}
div.n4{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/4_06.jpg');
}
div.n5{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/5_06.jpg');
}
div.n6{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/6_06.jpg');
}
div.n7{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/7_06.jpg');
}
div.n8{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/8_06.jpg');
}
div.n9{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/9_06.jpg');
}

div.colon{
background-image:url('http://sportnovascotia.ca/dbcountdown/images/colon_06.jpg');
width:10px;
margin: 2px;
}

